*{
    margin: 0px;
    padding: 0px;
}
.contenedor {
    display: grid;
    grid-template-columns: 2fr 2fr; /* Dos columnas con ancho igual */
    gap: 20px; /* Espacio entre columnas */
  }
h1{
    font-family: 'Mulish';
    font-size: 28.11pt;
    color: #04146c;
    font-weight: bold;
    text-align: center;
}
h3{
    font-family: 'Mulish';
    font-size: 16.11pt;
    color: #0a2ff1;
    font-weight: bold;
}

.iconos{
   width:55px;
   padding-left:35em;
   margin-top: 10px;
}
.parrafo{
    width:40%;
    color:#04146c;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:0px;
    }