*{
    box-sizing: border-box;
    margin: 0;
}

.main-container{
    display:flex;
    flex-direction: column;
    width: 95vw;
    margin-left:3%
}

header{
    margin:0;
}

#quotes, header p {
    margin-top: 1%;
}

h1{
    font-family: "Coolvetica", sans-serif;
    font-size:90pt;
    color:#0a2ff1;
}

header p{
    font-size:30pt;
    font-weight: 300;
    color: #04145c;
    margin-bottom: 2%;
}

#bold{
    font-weight: 700;
}

#quotes{
    display: flex;
    justify-content: space-evenly;
    margin-left: -7%;
}

.quote-box{
    background-color:#eff2ff;
    width: 25%;
    padding: 1em;
    padding-bottom: 2em;
}

.score-star{
    width:30%;
}

.user{
    margin-top: 10px;
    font-weight: 300;
    font-style: italic;
    font-size: 18pt;
}

.quote-box h2{
    color: #04146c;
    font-size:18pt;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom:10px;
}